<!DOCTYPE html>
<html lang="en" ng-app="jui">
<head>
	<base href="/" >
	<meta charset="UTF-8">
	<title>jui</title>
	<link rel="stylesheet" href="styles/base.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/MainCtrl.js"></script>
	<script src="scripts/BubbleCtrl.js"></script>
	<script src="scripts/TableCtrl.js"></script>
	<script src="scripts/router.js"></script>
</head>
<body>
	<div class="jui">
		<div class="jui-menu" ng-controller="MainCtrl">
			<ul class="menu-list">
				<li class="list-li" 
					ng-repeat="item in menuList"
					ng-click="toggle(item)"
					title="{{item.href}}"
					ng-class="{'active': item.id == activeId}">
					<a ng-href="{{item.href}}" ng-bind="item.name"></a>
				</li>
			</ul>
		</div>
		<div class="jui-main">
			<div class="jui-main-body" ng-view>
				
			</div>
		</div>
	</div>
</body>
</html>