<div class="jui-layout">
	<h1 class="jui-layout-title">Iframe</h1>
	<p class="jui-layout-remark">对接</p>
	<div></div>
	<h2 class="jui-layout-title-second">Examples</h2>
	<p class="jui-layout-remark">xxxx</p>
	
	<div class="jui-code-box">
		<div class="code-box-demo jui-iframe">
            <ul class="jui-iframe-list clearFloat">
                <li class="jui-iframe-list-li" 
                	ng-class="{'active': activeIrame.name == item.name}"
                	ng-click="toggle(item)" 
                	ng-repeat="item in iframeList">
                    <span ng-bind="item.name" class=""></span>
                </li>
            </ul>         
            <div class="jui-iframe-window">
                <iframe ng-src="{{activeIrame.src}}" frameborder="0"></iframe>
            </div>
		</div>
		<div class="code-box-meta">
            <h4 style="margin:0;">4</h4>
			<p>d<strong>aa</strong></p>
		</div>
	</div>
</div>