<div class="jui-layout">
	<h1 class="jui-layout-title">Table</h1>
	<p class="jui-layout-remark">as a table</p>
	<div></div>
	<h2 class="jui-layout-title-second">Examples</h2>
	<p class="jui-layout-remark">as a table</p>
	
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
				<thead>
					<tr>
						<th>title1</th>
						<th>title2</th>
						<th>title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			table
		</div>
	</div>
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
				<thead>
					<tr>
						<th class="sort">title1</th>
						<th class="sort asc">title2</th>
						<th class="sort desc">title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			sort asc desc
		</div>
	</div>	
</div>