<div class="jui-layout">
	<h1 class="jui-layout-title">Table</h1>
	<p class="jui-layout-remark">as a table</p>
	<div></div>
	<h2 class="jui-layout-title-second">Examples</h2>
	<p class="jui-layout-remark">as a table</p>
	
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
				<thead>
					<tr>
						<th>title1</th>
						<th>title2</th>
						<th>title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			default table
		</div>
	</div>
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
				<thead>
					<tr>
						<th class="sort">title1</th>
						<th class="sort asc">title2</th>
						<th class="sort desc">title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			className: 'sort','asc','desc'
		</div>
	</div>
	<div class="jui-code-box">
		<div class="code-box-demo">
			<div class="zc-j-fixed">
                <div class="zc-j-fixed-scroll">
                    <div class="zc-j-fixed-main">
                        <div class="zc-j-fixed-main-header zc-j-scrollbar" ng-class="{'no-data': (workList.length == 0)}">
                            <table class="zc-j-fixed-main-table zc-j-table-hover">
                                <thead>
                                    <tr>
                                        <th class="td5">分类</th>
                                        <th class="td5">处理时效</th>
                                        <th class="td6">创建人</th>
                                        <th class="td7">受理客服组</th>
                                        <th class="td8">受理客服</th>
                                        <th class="td-fiexd">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="zc-j-fixed-main-body zc-j-fixed-inner zc-j-scrollbar" ng-class="{'noData': (workList.length == 0)}">
                            <table class="zc-j-fixed-main-table zc-j-table-hover">
                                <thead class="zc-j-fixed-main-table-thead-no" ng-class="{'zc-j-fixed-main-table-thead': (workList.length == 0)}">
                                    <tr>
                                        <th class="td5">分类</th>
                                        <th class="td5">处理时效</th>
                                        <th class="td6">创建人</th>
                                        <th class="td7">受理客服组</th>
                                        <th class="td8">受理客服</th>
                                        <th class="td-fiexd">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in workList" ng-class="{'active': hoverId == item.ticketId}" ng-mouseenter="addHoverStyle(item)" ng-mouseleave="removeHoverStyle(item)">
                                        <td class="td5">5</td>
                                        <td class="td5">5</td>
                                        <td class="td6">6</td>
                                        <td class="td7">7</td>
                                        <td class="td8">8</td>
                                        <td class="td-fiexd">
                                            <span ng-if="false">--</span>
                                            <a ng-if="true" href="javascript:;" ng-click="getOrders(item)">接单</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="zc-j-fixed-main-body-no" ng-if="workList && workList.length == 0;">
                                没有工单信息
                            </div>
                        </div>
                    </div>
                    <div class="zc-j-fixed-right zc-j-fixed-right-shadow" ng-show="workList.length != 0">
                        <div class="zc-j-fixed-right-header zc-j-scrollbar">
                            <table class="zc-j-fixed-right-table zc-j-table-hover">
                                <thead>
                                    <tr>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="zc-j-fixed-right-body">
                            <div class="zc-j-fixed-right-body-inner zc-j-fixed-inner zc-j-scrollbar">
                                <table class="zc-j-fixed-right-table zc-j-table-hover">
                                    <tbody>
                                        <tr ng-repeat="item in workList" ng-class="{'active': hoverId == item.ticketId}" ng-mouseenter="addHoverStyle(item)" ng-mouseleave="removeHoverStyle(item)">
                                            <td class="td-fiexd">
                                                <span ng-if="false">--</span>
                                                <a ng-if="true" href="javascript:;" ng-click="getOrders(item)">接单</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="code-box-meta">
			default table
		</div>
	</div>	
</div>