<div class="jui-layout">
	<h1 class="jui-layout-title">Table</h1>
	<p class="jui-layout-remark">as a table</p>
	<div></div>
	<h2 class="jui-layout-title-second">Examples</h2>
	<p class="jui-layout-remark">as a table</p>
	
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
                <colgroup>
                    <col style="width: 100px;min-width: 100px">
                    <col style="width: 100px;min-width: 100px">
                    <col style="width: 100px;min-width: 100px">
                    <col style="width: 100px;min-width: 100px">
                </colgroup>
				<thead>
					<tr>
						<th>title1</th>
						<th>title2</th>
                        <th>title3</th>
						<th>title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
                        <td>td3</td>
						<td>td3</td>
					</tr>
					<tr>
						<td>td1</td>
						<td>td2</td>
                        <td>td3</td>
						<td>td3</
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			default table
		</div>
	</div>
	<div class="jui-code-box">
		<div class="code-box-demo">
			<table class="jui-table">
				<thead>
					<tr>
						<th class="sort">title1</th>
						<th class="sort asc">title2</th>
						<th class="sort desc">title3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
					<tr>
						<td>td1</td>
						<td>td2</td>
						<td>td3</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="code-box-meta">
			className: 'sort','asc','desc'
		</div>
	</div>
	<div class="jui-code-box">
		<div class="code-box-demo">
			<div class="jui-table-fixed">
                <div class="jui-table-fixed-scroll">
                    <div class="jui-table-fixed-main">
                        <div class="jui-table-fixed-main-header zc-j-scrollbar" ng-class="{'no-data': (workList.length == 0)}">
                            <table class="jui-table-fixed-main-table jui-table">
                                 <colgroup>
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col>
                                    <col style="width: 100px;min-width: 100px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>ac</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="jui-table-fixed-main-body js-inner zc-j-scrollbar" ng-class="{'noData': (workList.length == 0)}">
                            <table class="jui-table-fixed-main-table jui-table">
                                <colgroup>
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col style="width: 150px;min-width: 150px">
                                    <col>
                                    <col style="width: 100px;min-width: 100px">
                                </colgroup>
                                <thead class="jui-table-fixed-main-table-thead-no" ng-class="{'jui-table-fixed-main-table-thead': (workList.length == 0)}">
                                    <tr>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>title</th>
                                        <th>ac</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in workList" ng-class="{'active': hoverIndex == $index +1}" ng-mouseenter="addHoverStyle(item, $index)" ng-mouseleave="removeHoverStyle(item, $index)">
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>cont</td>
                                        <td>contAc</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="jui-table-fixed-main-body-no" ng-if="workList && workList.length == 0;">
                                no Data
                            </div>
                        </div>
                    </div>
                    <div class="jui-table-fixed-right" ng-show="workList.length != 0">
                        <div class="jui-table-fixed-right-header zc-j-scrollbar">
                            <table class="jui-table-fixed-right-table zc-j-table-hover">
                                <thead>
                                    <tr>
                                        <th>action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="jui-table-fixed-right-body">
                            <div class="jui-table-fixed-right-body-inner js-inner zc-j-scrollbar">
                                <table class="jui-table">
                                    <tbody>
                                        <tr ng-repeat="item in workList" ng-mouseenter="addHoverStyle(item, $index)" ng-mouseleave="removeHoverStyle(item, $index)" ng-class="{'active': hoverIndex == $index +1}">
                                            <td>action</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="code-box-meta">
			default table
		</div>
	</div>	
</div>