.jui-iframe .jui-iframe-list {
  margin: 0;
  padding: 0;
}
.jui-iframe .jui-iframe-list .jui-iframe-list-li {
  float: left;
  text-align: center;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid #3d4966;
  font-size: 14px;
}
